/* For hex color codes listed in here, I used https://www.w3schools.com/colors/colors_picker.asp to view and test different
colors. The biggest challenge was making the overlay of the translucent white space between texts look sharp. I also used 
w3schools to see examples of fonts and how they looked without needing to input them to see on the website.
Overall, the main design goal we had in mind was to make it visually appealing while keeping the designs simple
in order to make all of our content direct and easy to read. EM */

/* This is the main styling for the website for designs like the font, colors, and background. EM */
body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #f4f7fb;
    color: #1f2937;
    margin: 40px;
    line-height: 1.6;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    /* Dark navy color. EM */
    background-color: #172033;
    color: white;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 10px;
}


/* Used relaticely different heading styles are used to make the page easier to read and give titles a more sharp look. EM */
h1 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 38px;
    text-align: center;
    letter-spacing: 5px;
}

h2 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 25px;
    margin-top: 30px;
    color: #2457a6;
}

h3 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    margin-top: 30px;
    color: #2457a6;
}

p {
    font-size: 16px;
    max-width: 800px;
}

nav {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

a {
    color: #2563eb;
    display: block;
    margin-bottom: 8px;
}

nav a {
    color: #7dd3fc;
    display: inline;
    margin: 10px;
    font-weight: bold;
}

main {
    max-width: 900px;
    margin: auto;
    
    /* I used rgba to make the white background slightly transparent. This came a sharp looking 
    see through look at the background image when scrolling on the pages. EM */
    background-color: rgba(255, 255, 255, 0.88);
}

section {
    background-color: white;
    margin-bottom: 35px;
    padding: 20px;
    border-radius: 8px;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

footer {
    margin-top: 40px;
    text-align: center;
    color: #596579;
}

/* Each page uses its own background image to match 
the topic of that page. The images are assigned using separate page classes. This keeps 
the design consistent while still making each page feel different. EM */
.home-page {
    background-image: url("intersandtech.png");
}

.about-page {
    background-image: url("madisonuw.jpg");
}

.resources-page {
    background-image: url("implicitbias.png");
}

.tech-page {
    background-image: url("corp.jpeg");
}
